<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>{{ site.fullname }}</strong>
                </h4>
                <p>{{ site.address }}<br>{{ site.city }}</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i>{{ site.mobile }}</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/poshkrakow/"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/beautynails/"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="http://beautynails.github.io/"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-posh">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>
